<h1>SignUp</h1>

<form action="/users/create" method="post">
    <input type="text" name="name" placeholder="Enter your Name ..." requird />
    <input type="email" name="email" placeholder="Enter your Email ..." requird />
    <input type="password" name="password" placeholder=" Password ..." requird />
    <input type="password" name="confirm_password" placeholder="Confirm Password .." requird />

    <button type="submit" value="Sign Up">submit</button>
</form>