<h1>Sign IN</h1>


<form action="/users/create-session" method="post">
    
    <input type="email" name="email" placeholder="Enter your Email ..." requird />
    <input type="password" name="password" placeholder=" Password ..." requird />

    <button type="submit" value="Sign Up">submit</button>
</form>